@model FirstAPI.DbContext.Player

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "SoloQ "+Model.Nickname;
}

<div class="row">
    <h2>SoloQ informations</h2>
</div>
<div class="row">
    <p>
        <input type="button" onclick="displayLastSoloQs(2);" value="show infos" />
    </p>
</div>
<br />
<hr />
<div class="row matchInfos">
</div>


<script>
    $(document).ready(function () {
    });

    function displayLastSoloQs(nbGames) {
        console.log("calling api matchlist");
        $.get("https://euw1.api.riotgames.com/lol/match/v4/matchlists/by-account/@(Model.AccountId)?endIndex="+ nbGames+"&queue=420&api_key=@(ConfigurationManager.AppSettings["ApiRiotKey"])",
        function (data, status, xhr) {
            $(".matchInfos").html("");
            console.log(status);
            console.log(data);
            computeListMatchInfos(data.matches);
            });
        console.log("end calling");
    }

    function computeListMatchInfos(listMatch) {
        for (var i = 0; i < listMatch.length; i++) {
            computeMatchDetails(listMatch[i].gameId);
        }
    }

    function computeMatchDetails(gameId) {
        var url = "https://euw1.api.riotgames.com/lol/match/v4/matches/" + gameId + "?api_key=@(ConfigurationManager.AppSettings["ApiRiotKey"])";
        $.get(url,
        function (data, status, xhr) {
            console.log(status);
            console.log("-- Match Infos --")
            console.log(data);

            var matchInfos = new Object();
            matchInfos.myParticipantId = getParticipantId(data.participantIdentities, "@(Model.AccountId)")
            matchInfos.myChampionId = getMyChampionId(data.participants, matchInfos.myParticipantId);
            console.log("Participant id : " + matchInfos.myParticipantId);
            console.log("Champion id : " + matchInfos.myChampionId);
            matchInfos.gameCreation = getDate(data.gameCreation);
            matchInfos.gameDuration = getDuration(data.gameDuration);
            console.log("-- End Infos --");
            displayMatchDetails(matchInfos);
        });
    }

    function getParticipantId(participants,accountId) {
        for (var i = 0; i < participants.length; i++) {
            if (participants[i].player.accountId == accountId) {
                return participants[i].participantId;
            }
        }
    }

    function getMyChampionId(participants,myparticipantId) {
        return participants[myparticipantId - 1].championId;
    }

    function displayMatchDetails(matchInfos) {
        var str = "<div class='matchInfo'>";
        str = str + "<img style='height:55px' src='@(ConfigurationManager.AppSettings["UrlImgChamp"])" + getChampionNameByRiotId(matchInfos.myChampionId) + ".png'>";
        str = str + "<span style='margin-left:15px'> " + matchInfos.gameCreation + " </span>";
        str = str + "<span style='margin-left:15px'> " + matchInfos.gameDuration + " </span>";
        str = str + "</div>";
        str = str + "<hr>";

        $(".matchInfos").append(str);
    }

    function getChampionNameByRiotId(championRiotId) {
        var champNameList = JSON.parse('@(Html.Raw(ViewBag.ChampionList))'); @*//"@(((List<FirstAPI.DbContext.Champion>)Session["GlobalChampions"]).ToArray())";*@
        console.log(champNameList);
        for (var i = 0; i < champNameList.length; i++) {
            if (champNameList[i].ChampionRiotId.toString() == championRiotId.toString()) {
                return champNameList[i].ChampionName;
            }
        }
    }

    function getDate(timestamp) {
        var date = new Date(timestamp);
        return date.toLocaleDateString() + " " + date.toLocaleTimeString();
    }

    function getDuration(timestamp) {
        var date = new Date(timestamp*1000);
        return date.getMinutes() + "min" + date.getSeconds()+"s";
    }
</script>
<style>

    #matchupInfo{
        margin-bottom:5px;
    }

</style>