<ul class="nav navbar-nav">
    <li>@Html.ActionLink("Players", "AddPlayer", "Home", new { area = "" }, null)</li>
    <li>@Html.ActionLink("Draft", "Draft", "Draft", new { area = "" }, null)</li>
    <li>@Html.ActionLink("Backend", "Index", "Backend", new { area = "" }, null)</li>
</ul>
