<ul class="nav navbar-nav">
    <li>@Html.ActionLink("Cooldown", "CooldownChampion", "Cooldown", new { area = "" }, null)</li>
    <li>@Html.ActionLink("Winrates", "Winrates", "Winrates", new { area = "" }, null)</li>
</ul>