@model FirstAPI.Models.FormWinrateViewModel

@{
    ViewBag.Title = "Winrates";
}

<br />
<br />
<div id="formset">
    @using (Ajax.BeginForm("Winrates", "Winrates", new AjaxOptions { UpdateTargetId = "winrateResult", LoadingElementId = "loader", InsertionMode = InsertionMode.Replace, HttpMethod = "Post", OnBegin = "function(){ return false; }" }))
    {
        @Html.AntiForgeryToken()
        <span>Nickname:</span>
        @Html.TextBoxFor(x => x.nickname)
        <span>Number of games:</span> @Html.TextBoxFor(x => x.nbGames, new { @type = "number" })
        <input type="submit" value="Get Results"   />

        <br />
        <br />
        <div id="loader" class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>

    }
</div>

<div id="winrateResult">tata</div>
<script type="text/javascript">
    function SubmitForm() {
        console.log("submit");
        return false;
    }
</script>