@model FirstAPI.Models.FormWinrateViewModel

@{
    ViewBag.Title = "Winrates";
}

<br />
<br />
<div id="formset">
    @using (Html.BeginForm("Winrates", "Winrates", FormMethod.Post, new { id = "form" }))
    {
        Html.AntiForgeryToken();
        <span>Nickname:</span>
        @Html.TextBoxFor(x => x.nickname, new { placeholder = "Enter a Nickname" })
        <span>Number of games:</span> @Html.TextBoxFor(x => x.nbGames, new { @type = "number" , @Value="10"})
        <input type="submit" value="Get Results" />

        <br />
        <br />


    }
</div>

<div id="winrateResult"><div class="loader"></div></div>
<script type="text/javascript">
    $(document).ready(function () {
        $(".loader").hide();

        $('#form').on('submit', function (evt) {
            evt.preventDefault();
            setTimeout(function () {
                $('#winrateResult').html("");
                console.log("post inc");
                $(".loader").show();
                $.post('@Url.Action("Winrates","Winrates")', $("#form").serialize(), function (response) {
                    console.log("response");
                    $('#winrateResult').html(response);
                    $(".loader").hide();
                });
                    }, 100);
        });
        });
</script>
<style>
    .loader {
        border: 16px solid #f3f3f3; /* Light grey */
        border-top: 16px solid #3498db; /* Blue */
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
    }

    @@keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
</style>